*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f4f4f4;
}

.dashboard{
    display:grid;
    grid-template-columns:200px 1fr 200px;
    grid-template-rows:80px 350px 70px;
    grid-template-areas:
        "header header header"
        "sidebar main aside"
        "footer footer footer";
    gap:10px;
    padding:10px;
}

header{
    grid-area:header;
    background:#4a148c;
    color:white;
    text-align:center;
    padding:25px;
}

nav{
    grid-area:sidebar;
    background:#d1c4e9;
    padding:20px;
}

main{
    grid-area:main;
    background:white;
    padding:20px;
}

aside{
    grid-area:aside;
    background:#f8bbd0;
    padding:20px;
}

footer{
    grid-area:footer;
    background:#4a148c;
    color:white;
    text-align:center;
    padding:20px;
}

@media(max-width:768px){
    .dashboard{
        grid-template-columns:1fr;
        grid-template-areas:
            "header"
            "sidebar"
            "main"
            "aside"
            "footer";
    }
}